.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    background-color: #49008d;
    border: 2px solid #400069;
    border-radius: 8px;
    padding: 16px;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}


.grid-item {
    background-color: #9053c6;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    }
    
    
    .grid-item:hover {
    background-color: #6986db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:active {
    background-color: #523371;
}

.display {
    grid-column: span 4;
    background-color: rgba(152, 110, 224, 0.3);
    color: #fff;
    font-size: 2rem;
    text-align: right;
    cursor:default;
    border-radius: 4px;
    z-index: 2;
}

